<div class="row margin-bottom-15">
    <div class="pull-left button button-white button-action">
        <input type="checkbox" id="selectAll" ng-model="everySelected" ng-change="refreshSelectedItems(true)" />
        <label for="selectAll">Select all</label>
    </div>
    <button class="pull-left margin-left-15 button button-white button-action" ng-click="remove()" ng-show="anySelected"> <span class="icon-btn_delete margin-right-10"></span> Delete</button>
    <button class="pull-right button button-pink button-action" ng-click="nagivateToDetail()"> <span class="icon-btn_new margin-right-10"></span> New clinic</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-5"> </div>
        <div class="grid-col-5"> TenantId </div>
        <div class="grid-col-5"> PatientId </div>
        <div class="grid-col-20"> Name </div>
        <div class="grid-col-25"> Associated User </div>
        <div class="grid-col-25"> Creator </div>
        <div class="grid-col-15"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="clinic in clinics" ng-class="{ 'selected' : clinic.selected }">
            <div class="grid-col-5 image-column">
                <input type="checkbox" id="clinic_{{clinic.tenantId}}" ng-model="clinic.selected" ng-change="refreshSelectedItems()" />
                <label for="clinic_{{clinic.tenantId}}"></label>
            </div>
            <div class="grid-col-5" ng-bind="clinic.tenantId"></div>
            <div class="grid-col-5" ng-bind="clinic.patientId"></div>
            <div class="grid-col-20" ng-bind="clinic.name"></div>
            <div class="grid-col-25" ng-bind="clinic.associatedUsername"></div>
            <div class="grid-col-25" ng-bind="clinic.creator"></div>
            <div class="grid-col-15 action-buttons text-center">
                <span class="icon-btn_edit" ng-click="nagivateToDetail(clinic.tenantId)"></span>
                <span class="icon-btn_delete" ng-click="remove(clinic)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>NO DATA</span>
            </div>
        </div>
    </div>

</div>

<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">LOAD MORE</button>
</div>