
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
**/bin
!**/*Cordova*/Plugins/**/bin
**/obj
bin/[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.opensdf
*.sdf
**/.vscode

**/MyHealth.Web/**/lib/
/Components/

src/MvvmCross-UserInteraction/packages/
packages/
bld/
!Automation/Tools/*.exe
**.lock.json
/.vs/config/applicationhost.config

#ignore common tools directories
node_modules/
bower_components/

#ignore cordova directories
platforms/
**/*Cordova*/**/changeList.json
**/*Cordova*/**/appBundle*
**/*Cordova*/**/vendors/
**/*Cordova*/**/main.css
**/*Cordova*/**/templates.js
**/*Cordova*/**/tests/out
**/*Cordova*/**/content/lib
!CordovaPlugins/**/bin

#ignore generated wwwroot files
/src/MyHealth.Web/wwwroot/
/src/MyHealth.Web/wwwroot/_references.js

#ignore web content files
/src/MyHealth.Web/content/lib

#MyHealth.Web.Clinics
/src/MyHealth.Web.Clinics/_package
!src/MyHealth.Web.Clinics/bin
**/.ntvs_analysis.dat
/src/MyHealth.Web.Clinics/public/lib


*.userprefs
src/MyHealth.Web/wwwroot/_references.js
src/MyHealth.Web.Stress/wwwroot/
src/MyHealth.Web.Stress/content/lib/
*.orig

