<footer class="footer">
    <div class="footer-inner">
        <img src="/images/private/logo_private_area_footer.png" class="footer-logo" title="HealthClinic.biz" alt="logo"/>
        <div class="footer-info">
            <span class="footer-copyright">© 2015 HealthClinic.biz</span>
            <nav class="footer-sitemap">
                <ul>
                    <li><a href="" class="footer-link">Terms</a></li>
                    <li><a href="" class="footer-link">Privacy</a></li>
                    <li><a href="" class="footer-link">Contact</a></li>
                    <li><a href="" class="footer-link">Sitemap</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>