<div id="sidebar-container" class="sidebar-container" ng-class="{'show':menuOpen}">
    <div class="sidebar-menu-title-container">
        <div class="sidebar-menu-title">MENU</div>
        <div class="sidebar-menu-title-collapser hamburger" ng-click="menuOpen = !menuOpen">
            <span class="icon-btn_back left-menu-chevron"></span>
        </div>
    </div>
    <div class="sidebar-menu-container">
        <left-menu></left-menu>
    </div>
</div>