@import '../base/_variables.scss';

.checkbox {
    position: relative;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    outline: none;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    outline: none;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 14px;
    height: 14px;
    border: 1px solid $checkbox-border-color;
    background: $color-white;
    outline: none;
}

[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAMAAAAGcixRAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAYFBMVEUAAABxcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX9xcX8AAABLVcP3AAAAHnRSTlMANNPwcFTMrR5K9PXt5n77pbibAw26/n8GoWMBhUsMuHkpAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAD5JREFUCNcli0cWgDAQhb69RWPvcv9j5o1hAxuknyTNchVlVatpoZODfvDAqInIvGjdLPbDjvMCf8f7ed1nDpOEBCcouJFkAAAAAElFTkSuQmCC');
    position: absolute;
    margin-top: -2px;
    left: 2px;
    transition: all .2s;
    outline: none;
}

[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
}

[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
}

[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}
