<header class="header">
    <a href="/" class="header-logo"></a>
    <div class="header-separator"></div>
    <div class="header-title-container">
        <span class="header-title">Appointments</span>
    </div>
</header>