@{
    ViewData["Title"] = "HealthClinic.biz";
    Layout = "_LayoutAppointments";
}

<div class="app">
    @await Html.PartialAsync("_Header")

    @await Html.PartialAsync("_Content")

    @await Html.PartialAsync("_Footer")
</div>
