<div class="row margin-bottom-15">
    <div class="pull-left button button-white button-action">
        <input type="checkbox" id="selectAll" ng-model="everySelected" ng-change="refreshSelectedItems(true)" />
        <label for="selectAll">Select all</label>
    </div>
    <button class="pull-left margin-left-15 button button-white button-action" ng-click="remove()" ng-show="anySelected"> <span class="icon-btn_delete margin-right-10"></span> Delete</button>
    <button class="pull-right button button-pink button-action" ng-click="nagivateToDetail()"> <span class="icon-btn_new margin-right-10"></span> New doctor</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-20"> Name </div>
        <div class="grid-col-10"> Patients </div>
        <div class="grid-col-25"> Email </div>
        <div class="grid-col-15"> Speciality </div>
        <div class="grid-col-15"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="doctor in doctors" ng-class="{ 'selected' : doctor.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{doctor.doctorId}}" ng-model="doctor.selected" ng-change="refreshSelectedItems()" />
                <label for="{{doctor.doctorId}}"></label>
                <img data-ng-src="data:image/png;base64,{{doctor.picture}}" class="grid-image" alt="Doctor picture" />
            </div>
            <div class="grid-col-20" ng-bind="doctor.name"></div>
            <div class="grid-col-10" ng-bind="doctor.patientCount || 0"></div>
            <div class="grid-col-25" ng-bind="doctor.email"></div>
            <div class="grid-col-15" ng-bind="doctor.speciality"></div>
            <div class="grid-col-15 action-buttons">
                <span class="icon-btn_edit" ng-click="nagivateToDetail(doctor.doctorId)"></span>
                <span class="icon-btn_delete" ng-click="remove(doctor)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>NO DATA</span>
            </div>
        </div>
    </div>
</div>
<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">LOAD MORE</button>
</div>