<main class="main" ui-view></main>
<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>

<div class="overlay center" ng-class="{'visible':loading}">
    <div class="loading circular"></div>
</div>