<header class="header">
    <div class="header-logo"></div>
    <div class="header-user">
        <span class="header-user-name">Hi, Scott</span>
        <img src="/images/user_photo.png" class="header-user-avatar"/>
    </div>
</header>