<ion-view view-title="Settings">
    <ion-content>

        <div class="settings-section-card-container">
            <div class="card">
                <div class="item item-divider">
                    Updates
                </div>
                <div class="item item-text-wrap">
                    <ul class="list">
                        <li class="item item-toggle">
                            Check for updates at start
                            <label class="toggle toggle-calm">
                                <input type="checkbox" ng-model="Settings.Update.AUTO">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>
                        <li class="item item-toggle">
                            Require login at start
                            <label class="toggle toggle-calm">
                                <input type="checkbox" ng-model="Settings.General.REQUIRE_LOGIN">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>
