/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
/*
    CUSTOM MENU APPEARANCE BEHAVIOUR
*/
body {
  background-color: black; }

.pane.view {
  background-color: black; }

.menu {
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -moz-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  z-index: 1 !important; }
  body.menu-open .menu {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }

.menu-content {
  -moz-transform: translate3d(0, 0, 0) !important;
  -ms-transform: translate3d(0, 0, 0) !important;
  -o-transform: translate3d(0, 0, 0) !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  -moz-transition: opacity 200ms ease;
  -o-transition: opacity 200ms ease;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  background-color: #00d8cc; }
  body.menu-open .menu-content {
    opacity: 0.5; }

/*
    Custom Ionic Bars and Menu Bar
*/
.bar.bar-header {
  border: 0 solid rgba(255, 255, 255, 0.1) !important;
  border-width: 1px 0;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
  padding-left: 15px;
  padding-right: 15px; }
  .bar.bar-header .title {
    line-height: 62px;
    margin-left: 20px;
    margin-top: 2px; }
    .platform-ios .bar.bar-header .title {
      margin-left: 10px; }
  .bar.bar-header .button {
    max-height: 64px;
    color: #FFFFFF; }

/*
    Fix extra padding under card-home-appointment-detail
    This is because ionic's scrolling behaviour and top margin without any padding
*/
.scroll-content-padding-top div.scroll {
  padding-top: 1px;
  padding-bottom: 1px; }

/*
    Settings card
*/
div.settings-section-card-container {
  padding: 10px 10px 0 10px; }
  div.settings-section-card-container div.card {
    margin: 0;
    border-radius: 0; }
    div.settings-section-card-container div.card div.item.item-divider {
      background-color: #f8f8f8;
      box-shadow: inset 0 0 0 4px #ffffff;
      padding: 10px 16px 11px 16px;
      color: #00d8cc;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.2em; }
    div.settings-section-card-container div.card div.item.item-text-wrap {
      border-color: #f2f2f2;
      padding: 0; }

.select-wrapper {
  position: relative;
  display: inline-block;
  font-size: inherit; }
  .select-wrapper:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    width: calc(18px + 0.9em);
    height: calc(100% - 4px);
    pointer-events: none;
    background-color: #f8f8f8; }
  .select-wrapper:before {
    content: '\e902';
    position: absolute;
    top: 50%;
    right: calc(18px + 0.9em);
    width: 0;
    height: 0;
    font-family: "icomoon";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    pointer-events: none;
    font-size: 8px;
    z-index: 1;
    line-height: 0;
    color: #707070; }
  .select-wrapper select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #f8f8f8;
    border: 2px solid #e1e1e1;
    position: relative;
    font-size: inherit;
    line-height: 1.3em;
    color: #3d3d4c;
    padding: 8px calc(18px + 0.9em) 8px 6px;
    font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
    white-space: normal;
    border-radius: 0px; }
  .select-wrapper.select-wrapper-block {
    display: block; }
    .select-wrapper.select-wrapper-block select {
      display: block;
      width: 100%; }

/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
/*
    Custom Ionic Bars and Menu Bar
*/
@-moz-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.bar.bar-header.bar-header-menu {
  height: 148px !important;
  background-image: url(../images/menu-header-background.svg);
  background-color: #fbffff;
  background-size: 108%;
  background-position: 1px 24%;
  display: table;
  border: none !important;
  box-shadow: none; }
  .bar.bar-header.bar-header-menu + .has-header {
    top: 148px;
    background-color: #00d8cc; }

.bar-header-menu-avatar {
  height: 84px;
  width: 84px;
  margin-top: -42px !important;
  position: absolute;
  top: 50%;
  left: 16px;
  border: 4px solid white;
  border-radius: 50%; }

.bar-header-menu-info {
  display: table-cell;
  vertical-align: middle;
  padding-left: 104px; }
  .bar-header-menu-info h4 {
    font-size: 18px;
    line-height: 1.5em;
    font-weight: 600;
    color: #00d8cc;
    margin: 0; }
  .bar-header-menu-info p {
    font-size: 14px;
    line-height: 1.5em;
    color: #3d3d4c;
    margin: 0; }

/*
    Custom menu item
*/
.ion-item-menu-list div.list {
  padding-top: 7px; }

.ion-item-menu-option {
  border: none;
  background-color: transparent !important; }
  .ion-item-menu-option a {
    background-color: transparent !important;
    font-size: 16px;
    color: white; }
    .ion-item-menu-option a span {
      vertical-align: middle; }
    .ion-item-menu-option a [class^="icon-"], .ion-item-menu-option a [class*=" icon-"] {
      font-size: 25px;
      margin-right: 20px;
      display: inline-block;
      width: 34px; }
      .ion-item-menu-option a [class^="icon-"].icon-calendar-icon, .ion-item-menu-option a [class*=" icon-"].icon-calendar-icon {
        margin-left: 4px;
        width: 30px; }
      .ion-item-menu-option a [class^="icon-"].icon-refresh-icon, .ion-item-menu-option a [class*=" icon-"].icon-refresh-icon {
        margin-right: 15px;
        margin-left: 5px;
        text-align: center; }
      .ion-item-menu-option a [class^="icon-"].icon-settings-icon, .ion-item-menu-option a [class*=" icon-"].icon-settings-icon {
        text-align: center; }
      .ion-item-menu-option a [class^="icon-"].icon-spin, .ion-item-menu-option a [class*=" icon-"].icon-spin {
        -moz-animation-name: spin;
        -o-animation-name: spin;
        -webkit-animation-name: spin;
        animation-name: spin;
        -moz-animation-duration: 2s;
        -o-animation-duration: 2s;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -moz-animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;
        -o-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear; }
  .ion-item-menu-option.ion-item-menu-option-active a {
    color: #3d3d4c; }
  .ion-item-menu-option.ion-item-menu-option-bottom {
    position: absolute;
    bottom: 0; }

/**
 * This is not a good practice, but
 * because an Ionic+iOS related
 * I need to do this to prevent a
 * wrong behaviour with bottom
 * margins in scrollable divs
 */
card-home-appointment {
  display: block;
  padding: 0px 10px 10px 10px; }
  card-home-appointment:first-child {
    padding-top: 10px; }

.card.card-home-appointment {
  margin: 0px;
  margin-bottom: 0px !important;
  border-radius: 0; }
  .card.card-home-appointment.card-home-appointment-detail {
    overflow: visible;
    margin-top: 50px; }
  .card.card-home-appointment .item {
    border-color: #f2f2f2;
    border-radius: 0; }
  .card.card-home-appointment .item-avatar {
    padding-top: 14px;
    padding-bottom: 18px; }
    .card.card-home-appointment .item-avatar img:first-child {
      top: 13.5px;
      left: 13.5px;
      max-width: 45px;
      max-height: 45px;
      border: 2px solid white; }
    .card.card-home-appointment .item-avatar .item-avatar-title {
      font-size: 20px;
      color: #00d8cc;
      line-height: 1.25em;
      margin-bottom: 1px; }
    .card.card-home-appointment .item-avatar .item-avatar-subtitle {
      line-height: 1em;
      color: #3d3d4c; }
    .card.card-home-appointment .item-avatar .item-avatar-urgent-tag {
      display: none;
      position: absolute;
      bottom: 8px;
      right: 8px;
      font-size: 11px;
      line-height: 1em;
      background-color: #ff166f;
      padding: 3px 4px 4px 4px;
      color: white; }
    .card.card-home-appointment .item-avatar .item-avatar-date-tag {
      position: absolute;
      top: 8px;
      right: 8px;
      color: #00d8cc;
      font-size: 14px;
      line-height: 1em;
      text-align: right; }
  .card.card-home-appointment .item-header {
    overflow: visible;
    background-color: #f8f8f8;
    box-shadow: inset 0px 0px 0px 4px white; }
    .card.card-home-appointment .item-header > img {
      width: 120px;
      height: 120px;
      display: block;
      margin: -64px auto 0 auto;
      border: 4px solid white;
      border-radius: 50%; }
    .card.card-home-appointment .item-header .item-header-title {
      font-size: 18px;
      line-height: 1.2em;
      font-weight: 600;
      color: #00d8cc;
      text-align: center;
      display: block;
      margin-top: 15px; }
    .card.card-home-appointment .item-header .item-header-subtitle {
      font-size: 14px;
      line-height: 1.2em;
      color: #3d3d4c;
      display: block;
      text-align: center;
      margin-top: 7px; }
  .card.card-home-appointment .item-image {
    height: 202px; }
  .card.card-home-appointment .item-date .row,
  .card.card-home-appointment .item-date .col {
    padding: 0; }
  .card.card-home-appointment .item-date .item-date-key,
  .card.card-home-appointment .item-date .item-date-val {
    margin: 0; }
    .card.card-home-appointment .item-date .item-date-key.item-date-key,
    .card.card-home-appointment .item-date .item-date-val.item-date-key {
      font-size: 14px;
      color: #3d3d4c; }
    .card.card-home-appointment .item-date .item-date-key.item-date-val,
    .card.card-home-appointment .item-date .item-date-val.item-date-val {
      font-size: 24px;
      color: #3ddfdf;
      line-height: 1.3em; }
  .card.card-home-appointment .item-body p {
    font-size: 14px;
    color: #3d3d4c; }
    .card.card-home-appointment .item-body p:first-child {
      margin-top: 0; }
  .card.card-home-appointment .item-body .item-body-address {
    font-size: 16px;
    line-height: 1.3em;
    margin: 0;
    color: #3d3d4c;
    width: 60%; }
  .card.card-home-appointment .item-body .item-body-arrow {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    background-image: url(../images/arrow-right.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; }
  .card.card-home-appointment .item-drug span {
    font-size: 20px;
    color: #00d8cc;
    margin: 5px 0;
    display: block; }
  .card.card-home-appointment .item-button {
    padding: 3px; }
    .card.card-home-appointment .item-button button {
      font-size: 18px;
      border-radius: 0;
      border: none;
      color: #ffffff;
      margin: 0; }
  .card.card-home-appointment.activated .item-avatar {
    background-color: #f8f8f8;
    box-shadow: inset 0px 0px 0px 4px white; }
  .card.card-home-appointment.card-home-appointment-urgent .item-avatar-urgent-tag {
    display: block; }
  .card.card-home-appointment.card-home-appointment-detail .item-body .item-body-arrow {
    display: none; }
  .card.card-home-appointment.card-home-appointment-visited .item-avatar {
    background-color: #f8f8f8;
    box-shadow: inset 0px 0px 0px 4px white;
    background-color: #3d3d4c; }
    .card.card-home-appointment.card-home-appointment-visited .item-avatar .item-avatar-subtitle {
      color: white; }

.loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 0.5em);
  left: calc(50% - 0.5em);
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  -moz-animation: load4 1.3s infinite linear;
  -o-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }
  .loader.hidden {
    display: none;
    -moz-animation: none;
    -o-animation: none;
    -webkit-animation: none;
    animation: none; }

@-webkit-keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff; }
  12.5% {
    box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff; }
  25% {
    box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff; }
  37.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff; }
  50% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff; }
  62.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff; }
  75% {
    box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff; }
  87.5% {
    box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff; } }

@keyframes load4 {
  0%, 100% {
    box-shadow: 0 -3em 0 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 0 #ffffff; }
  12.5% {
    box-shadow: 0 -3em 0 0 #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0 0 0 #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff; }
  25% {
    box-shadow: 0 -3em 0 -0.5em #ffffff, 2em -2em 0 0 #ffffff, 3em 0 0 0.2em #ffffff, 2em 2em 0 0 #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0 0 -1em #ffffff, -2em -2em 0 -1em #ffffff; }
  37.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 0 #ffffff, 2em 2em 0 0.2em #ffffff, 0 3em 0 0em #ffffff, -2em 2em 0 -1em #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff; }
  50% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 0em #ffffff, 0 3em 0 0.2em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 -1em #ffffff, -2em -2em 0 -1em #ffffff; }
  62.5% {
    box-shadow: 0 -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 0 #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0 0 0 #ffffff, -2em -2em 0 -1em #ffffff; }
  75% {
    box-shadow: 0em -3em 0 -1em #ffffff, 2em -2em 0 -1em #ffffff, 3em 0em 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0 #ffffff; }
  87.5% {
    box-shadow: 0em -3em 0 0 #ffffff, 2em -2em 0 -1em #ffffff, 3em 0 0 -1em #ffffff, 2em 2em 0 -1em #ffffff, 0 3em 0 -1em #ffffff, -2em 2em 0 0 #ffffff, -3em 0em 0 0 #ffffff, -2em -2em 0 0.2em #ffffff; } }

.popup-container-home-appointment-notification .popup {
  width: 80%;
  background-color: white; }

.popup-container-home-appointment-notification .popup-head {
  display: none; }

.popup-container-home-appointment-notification .popup-body {
  padding: 24px 22px 20px 22px;
  font-size: 16px; }

.popup-container-home-appointment-notification .popup-buttons {
  padding: 0 4px 4px 4px;
  min-height: 56px; }
  .popup-container-home-appointment-notification .popup-buttons button {
    font-size: 20px;
    border-radius: 0;
    border: none;
    margin: 0; }
    .popup-container-home-appointment-notification .popup-buttons button:not(:first-child) {
      margin-left: 4px; }
