<div class="row margin-bottom-15">
    <div class="pull-left button button-white button-action">
        <input type="checkbox" id="selectAll" ng-model="everySelected" ng-change="refreshSelectedItems(true)" />
        <label for="selectAll">Select all</label>
    </div>
    <button class="pull-left margin-left-15 button button-white button-action" ng-click="remove()" ng-show="anySelected"> <span class="icon-btn_delete margin-right-10"></span> Delete</button>
</div>

<div class="row grid">
    <div class="grid-header">
        <div class="grid-col-15"> </div>
        <div class="grid-col-20"> Name </div>
        <div class="grid-col-10"> Birthdate </div>
        <div class="grid-col-30"> Email </div>
        <div class="grid-col-15"> Phone </div>
        <div class="grid-col-10"> </div>
    </div>
    <div class="grid-body">
        <div class="grid-row" ng-repeat="patient in patients" ng-class="{ 'selected' : patient.selected }">
            <div class="grid-col-15 image-column">
                <input type="checkbox" id="{{patient.patientId}}" ng-model="patient.selected" ng-change="refreshSelectedItems()" />
                <label for="{{patient.patientId}}"></label>
                <img data-ng-src="data:image/png;base64,{{patient.picture}}" class="grid-image" alt="patient picture" />
            </div>
            <div class="grid-col-20" ng-bind="patient.name"></div>
            <div class="grid-col-10" ng-bind="patient.dateOfBirth | date"></div>
            <div class="grid-col-30" ng-bind="patient.email"></div>
            <div class="grid-col-15" ng-bind="patient.phone"></div>
            <div class="grid-col-10 action-buttons text-center">
                <span class="icon-btn_delete" ng-click="remove(patient)"></span>
            </div>
        </div>
        <div class="grid-row" ng-show="noData">
            <div class="grid-col-100 grid-load-more">
                <span>NO DATA</span>
            </div>
        </div>
    </div>

</div>

<div class="grid-load-more">
    <button class="button button-pink button-action" ng-click="getList()" ng-hide="noMoreData">LOAD MORE</button>
</div>